{% extends "base.html" %}
{% block title %}Fitness Page{% endblock %}
{% block content %}
<h1>Fitness Page</h1>
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            {%for msg in messages %}
                <strong>{{msg}}</strong>
            {% endfor %}
        {% endif %}
    {% endwith %}
<br></br>
<p>Exercise and activity are a vital part of maintaining our overall health. Tracking our fitness and our caloric deficit
    or overage can have great affects to our overall health. When we are aware of the calories we expend by keeping an
    activity log we can stay accountable in how we are taking care of our bodies. The below Activity Log allows you to keep
  track of all the activity you achieve throughout the day. As an added feature there is an additional column to note how the
  food you have eaten made you feel. Since being active is vital for our health it is important to note the impact of how
  different activities can affect the way we feel.</p>
<h3>How to add exercise to the log?</h3>
<p></p>
<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
  Click to view steps to add to activity log
</button>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Steps to add an activity are below:</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Steps</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">1</th>
            <td>Navigate below the Fitness Log</td>
          </tr>
          <tr>
            <th scope="row">2</th>
            <td>Click on the button Add Activity. You will be redirected to a form to add the activity.</td>
          </tr>
          <tr>
            <th scope="row">3</th>
            <td>Fill in the designated text boxes to add  the activity, length, calories and an optional description</td>
          </tr>
          <tr>
            <th scope="row">4</th>
            <td>Click submit below the form and the activity will be added to the log below.</td>
          </tr>
        </tbody>
      </table>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
<p></p>
<h3>Search for the amount of calories burned in an activity below:</h3>
<p></p>
      <form class="d-flex" role="search">
        <input class="form-control me-2" type="search" placeholder="Exercise Search" aria-label="Search">
        <button type="button" class="btn btn-primary">Search</button>
      </form>
<p></p>
<h2>Activity Log</h2>

<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">ID</th>
      <th scope="col">Name</th>
      <th scope="col">Length</th>
      <th scope="col">Calories</th>
      <th scope="col">Description</th>
      <th scope="col">Edit</th>
      <th scope="col">Delete</th>
    </tr>
  </thead>
  <tbody>
    {% for activity in activity_data %}
    <tr>
      <td>{{ activity[0] }}</td>
      <td>{{ activity[1] }}</td>
      <td>{{ activity[2] }}</td>
      <td>{{ activity[3] }}</td>
      <td>{{ activity[4] }}</td>
      <td><a class="btn btn-primary" href="{{ url_for('edit_activity', id=activity[0]) }}" role="button">Edit</a></td>
      <td><a class="btn btn-primary" href="{{ url_for('delete_activity', id=activity[0]) }}" role="button">Delete</a></td>
    </tr>
    {% endfor %}
  </tbody>
</table>
<a class="btn btn-primary" href="{{ url_for('add_activity') }}" role="button">Add Activity</a>

{% endblock %}