{% extends "base.html" %}
{% block title %}Nutrition Page{% endblock %}
{% block content %}
<h1>Nutrition Page</h1>
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            {%for msg in messages %}
                <strong>{{msg}}</strong>
            {% endfor %}
        {% endif %}
    {% endwith %}
<br></br>
<p>Nutrition is a vital part of maintaining our overall health. Tracking the food we consume and our caloric intake
  can have great affects to our overall health. When we are aware of the calories we consume by keeping a food log we
  can stay accountable in what we consume and use as fuel for our bodies. The below Nutrition Log allows you to keep
  track of all the foods you eat throughout the day. As an added feature there is an additional column to note how the
  food you have eaten made you feel. Since food is fuel for our bodies it is important to note the impact of how
  different foods can affect the way we feel.</p>
<h3>How to add food to the log?</h3>
<p></p>
<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
  How do I add food to the log?
</button>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Steps to add an activity are below:</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Steps</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">1</th>
            <td>Navigate below the Nutrition Log</td>
          </tr>
          <tr>
            <th scope="row">2</th>
            <td>Click on the button "Add Food". You will be redirected to a form to add the activity.</td>
          </tr>
          <tr>
            <th scope="row">3</th>
            <td>Fill in the designated text boxes to add  the food, portion, calories and an optional description</td>
          </tr>
          <tr>
            <th scope="row">4</th>
            <td>Click submit below the form and the food will be added to the log below.</td>
          </tr>
          <tr>
            <th scope="row">5</th>
            <td>If you are unsure how many calories are in the food, use the search bar below to return the calories and serving size.</td>
          </tr>
        </tbody>
      </table>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
<p></p>
<h3>Search for the amount of calories in food below:</h3>
<p></p>
      <form class="d-flex" role="search" action="#" method="POST">
        <input class="form-control me-2" type="text" name="keyword" placeholder="Food Search" value="{{ request.form['keyword'] }}" aria-label="Search">
        <input class="btn btn-primary" type="submit" value="Search">
      </form>
      <p></p>
<ol class="list-group list-group-numbered">
  <li class="list-group-item d-flex justify-content-between align-items-start">
    <div class="ms-2 me-auto">
      <div class="fw-bold">Calories</div>
      <pre>{{food_cal}}</pre>
    </div>

  </li>
  <li class="list-group-item d-flex justify-content-between align-items-start">
    <div class="ms-2 me-auto">
      <div class="fw-bold">Serving Size</div>
      <pre>{{food_serv}}</pre>
    </div>
    <span class="badge bg-primary rounded-pill"></span>
  </li>
</ol>
<p></p>
<h2>Nutrition Log</h2>

<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">ID</th>
      <th scope="col">Name</th>
      <th scope="col">Portion</th>
      <th scope="col">Calories</th>
      <th scope="col">Description</th>
      <th scope="col">Edit</th>
      <th scope="col">Delete</th>
    </tr>
  </thead>
  <tbody>
    {% for food in food_data %}
    <tr>
      <td>{{ food[0] }}</td>
      <td>{{ food[1] }}</td>
      <td>{{ food[2] }}</td>
      <td>{{ food[3] }}</td>
      <td>{{ food[4] }}</td>
      <td><a class="btn btn-primary" href="{{ url_for('edit_food', id=food[0]) }}" role="button">Edit</a></td>
      <td><a class="btn btn-primary" href="{{ url_for('delete_food', id=food[0]) }}" role="button">Delete</a></td>
    </tr>
    {% endfor %}
  </tbody>
</table>
<p></p>
<a class="btn btn-primary" href="{{ url_for('add_food') }}" role="button">Add Food</a>
<p></p>
<h2>Calorie Tracking</h2>
<table class="table table-striped">
  <thead>
  <tr>
    <th scope="col">Calorie Goal</th>
    <th scope="col">Calories Consumed</th>
    <th scope="col">Calories Burned</th>
    <th scope="col">Calories Left in Budget</th>
  </tr>
  </thead>
  <tbody>
    <tr>
      <td>{{ goal[0] }} kcal</td>
      <td>{{ total_cals[0] }} kcal</td>
      <td>{{ burn[0] }} kcal</td>
      <td>{{goal[0] + burn[0] - total_cals[0]}} kcal</td>
      <td><a class="btn btn-primary" href="{{ url_for('edit_goal') }}" role="button">Change Goal</a></td>
    </tr>

  </tbody>
</table>
<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#calModal">
  How do I utilize calorie tracking?
</button>
<!-- Modal -->
<div class="modal fade" id="calModal" tabindex="-1" aria-labelledby="calModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="calModalLabel">What does Calorie Tracking have to offer?</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col"></th>
            <th scope="col">Features</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">1</th>
            <td>Set a calorie budget or goal that can be edited or changed at any time by clicking the change goal
              button on the right side of the table above.</td>
          </tr>
          <tr>
            <th scope="row">2</th>
            <td>The calories consumed will be calculated from the sum of calories in the nutrition log above.</td>
          </tr>
          <tr>
            <th scope="row">3</th>
            <td>The calories burned will be calculated from the sum of calories burned in the activity log
              on the Fitness Page.</td>
          </tr>
          <tr>
            <th scope="row">4</th>
            <td>Calories left in budget will be calculated by adding the Calorie Goal + Calories Burned -
              Calories Consumed. Representing the remaining calories you have left for the day!</td>
          </tr>
        </tbody>
      </table>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
<p></p>

{% endblock %}